---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1634?api_key=fd5e3ca81314005137fc3ebb81c91437
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0b0052e0201e0cfecbb5c476904855c1a8571bc9
      X-Memc-Age:
      - '13597'
      X-Memc-Expires:
      - '1617'
      Etag:
      - W/"0d26da55ea0c19ffe2e357da43ca3ee2"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/z2oqTYqFZys9YkAseiUd18Gqqto.jpg","belongs_to_collection":{"id":9328,"name":"Free
        Willy Collection","poster_path":"/3M2Q9ZDTyFBfi3ohz2gizFmnoL0.jpg","backdrop_path":"/jiqnYb2NQyytVBuXiOk5sFefqr5.jpg"},"budget":20000000,"genres":[{"id":10751,"name":"Family"},{"id":12,"name":"Adventure"},{"id":18,"name":"Drama"}],"homepage":"","id":1634,"imdb_id":"tt0106965","original_language":"en","original_title":"Free
        Willy","overview":"When maladjusted orphan Jesse vandalizes a theme park,
        he is placed with foster parents and must work at the park to make amends.
        There he meets Willy, a young Orca whale who has been separated from his family.
        Sensing kinship, they form a bond and, with the help of kindly whale trainer
        Rae Lindley, develop a routine of tricks. However, greedy park owner Dial
        soon catches wind of the duo and makes plans to profit from them.","popularity":45.703,"poster_path":"/9iBgd9gi9ztWiVcYSG6zl8wDFBN.jpg","production_companies":[{"id":104,"logo_path":"/9aotxauvc9685tq9pTcRJszuT06.png","name":"Canal+","origin_country":"FR"},{"id":508,"logo_path":"/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png","name":"Regency
        Enterprises","origin_country":"US"},{"id":644,"logo_path":null,"name":"Alcor
        Films","origin_country":""},{"id":5739,"logo_path":null,"name":"Donner/Shuler-Donner
        Productions","origin_country":""},{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"FR","name":"France"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1993-07-16","revenue":153698625,"runtime":112,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"How
        far would you go for a friend?","title":"Free Willy","video":false,"vote_average":6.2,"vote_count":1331}'
  recorded_at: Tue, 31 Aug 2021 05:45:47 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1634/credits?api_key=fd5e3ca81314005137fc3ebb81c91437
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 177f436e7e30e312be66ed0527e04c13b815625a
      X-Memc-Age:
      - '9871'
      X-Memc-Expires:
      - '4805'
      Etag:
      - W/"1aa3cd7fa3fa2bebcabd38d6d748822d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1634,"cast":[{"adult":false,"gender":2,"id":18259,"known_for_department":"Acting","name":"Jason
        James Richter","original_name":"Jason James Richter","popularity":2.169,"profile_path":"/fY4fYZOQZKlAtRxys2zxZ884EZq.jpg","cast_id":11,"character":"Jesse","credit_id":"52fe4306c3a36847f8034d41","order":0},{"adult":false,"gender":1,"id":15309,"known_for_department":"Acting","name":"Lori
        Petty","original_name":"Lori Petty","popularity":7.624,"profile_path":"/bmJFh4VxRii7h7jpo4YVC6BFeVd.jpg","cast_id":12,"character":"Rae
        Lindley","credit_id":"52fe4306c3a36847f8034d45","order":1},{"adult":false,"gender":2,"id":18260,"known_for_department":"Acting","name":"August
        Schellenberg","original_name":"August Schellenberg","popularity":1.425,"profile_path":"/fSNg3WDMxgD7JlHs8QVhVf4dx[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1634/reviews?api_key=fd5e3ca81314005137fc3ebb81c91437
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 74b0971e43e776bf1d1a8680d09e4f7035091d14
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17119'
      Last-Modified:
      - '2021-08-08 02:22:59 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1634,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 31 Aug 2021 05:45:47 GMT
recorded_with: VCR 6.0.0
