---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=fd5e3ca81314005137fc3ebb81c91437&page=1&query=Codependent%20Lesbian%20Space%20Alien%20Seeks%20Same
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[35,10749,878],"id":105538,"original_language":"en","original_title":"Codependent
        Lesbian Space Alien Seeks Same","overview":"The adventures of lesbian space
        aliens on the planet Earth, and the story of the romance between Jane, a shy
        greeting card store employee, and Zoinx, the woman Jane does not realize is
        from outer-space. Meanwhile, two government agents, or ''Men In Black,'' are
        closely tracking Jane and the aliens while harboring their own secrets.","popularity":3.052,"poster_path":"/5zxtGLnd87j6cQZlFjnRZzrrNLI.jpg","release_date":"2012-01-06","title":"Codependent
        Lesbian Space Alien Seeks Same","video":false,"vote_average":4.8,"vote_count":6}],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 29 Aug 2021 23:50:48 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=fd5e3ca81314005137fc3ebb81c91437&page=2&query=Codependent%20Lesbian%20Space%20Alien%20Seeks%20Same
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 29 Aug 2021 23:50:48 GMT
recorded_with: VCR 6.0.0
