<h1>Welcome to Viewing Party!</h1>
<h3>This app allows you to watch movies with your friends.</h3>

<%= render template: "sessions/new" %>
<%= link_to 'New to viewing party? Register here!', registration_path %>
