<h1>Welcome to Viewing Party!</h1>
<h3>This app allows you to watch movies with your friends.</h3>

<%= link_to 'New to viewing party? Register here!', new_user_path %>
<%= button_to 'Log In', login_path, method: :get %>
